.panda-background {
    background-color: #fceae8;
}

.panda-text-color {
    color: #ff136f;
}

.panda-cat1 {
    background-color: #ffa500;
}

.panda-cat2 {
    background-color: #da70d6;
}

.panda-cat3 {
    background-color: #0000ff;
}

.panda-btn-bg {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}